*{
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.scrollTop .fa-solid{
    color: #f1e1cc;
    text-shadow:2px 2px #28282B;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 0px;
    background-color: rgba(114, 114, 114, 0.493);
    border-radius: 50%;
    text-align: center;
    padding:5px ;


}
.heading{
    text-align: center;
    font-size: 3em;
    font-variant: small-caps;
    text-decoration:underline;

}
header{

    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
    -webkit-position:sticky;
    margin-top: 0;

}
a{
    text-decoration: none;
}

header ul{
    list-style: none;
    display: flex;
}
header ul .item{
    justify-content: space-between;

}
#logo {
    position: relative;
}
#logo   h2{
    color: #fff;
    font-size: 4em;
    position: absolute;
    transform: translate(50%,-100%);

}
#logo h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:2px white;
}
#logo h2:nth-child(2){
    color:#e2c2c2;
    animation: art 4s ease-in-out infinite;
}

@keyframes art {

    0%,
    100% {
        clip-path: polygon(0 46%, 18% 46%, 36% 50%, 52% 56%, 69% 61%, 85% 59%, 100% 51%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 54%, 17% 61%, 32% 65%, 49% 63%, 65% 55%, 83% 47%, 100% 46%, 100% 100%, 0 100%);
    }
}
#menu{
    margin-left:auto ;

}
#menu li{
    padding: 15px;
    justify-content: space-around;

}
#menu li a{
    font-size: 1.5em;
    color:#f9e6e6;
}
main{
    background-image: url(../Images/Art1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    flex-grow: 3;
    justify-content: space-around;
}

main h1{
    align-self: center;
    font-size: 4em;
    color:#36454F;
    text-shadow: 5px 2px black;

}

/* About Us Section*/

#AboutUs{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.section{
    border:5px ridge gray;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    max-width: 370px;
    -webkit-max-width: 370px;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 2s;
    position: relative;
    -webkit-position: relative;
}

.section .front img{
    width: 100%;
    height: 100%;
}
.front{
    transform-style: preserve-3d;
}

.front h1{
    color: grey;
    text-shadow: 3px 2px black;
    position: absolute;
    -webkit-position: absolute;
    top:80%;
    -webkit-top:80%;
    left: 80%;
    -webkit-left: 80%;
    align-self: center; 
    transform:perspective(800px) translateY(30px) translateZ(30px);  
    -webkit-transform: translateZ(30px);
    

}

.section:hover{
    transform: rotateY(180deg);
}
.back{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e2c2c2;
    transform: rotateY(180deg);
    height: 100%;
    color:black ;
    font-size: large;
    z-index: 1;
    backface-visibility: hidden;

}
.back p{
    text-align: center;
}
.back button{
    background-color: black;
    padding: 10px;
    color: #f9e6e6;
    margin-top: auto;
    outline: 1px solid gray ;

}


/*Gallery Section*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.one .gallery-section,.two .gallery-section, .three .gallery-section{ 
    width: 400px;
    height: fit-content;
    border:15px ridge #e2c2c2;
    margin: 5px;
    align-self: flex-start;
}
.gallery-section img{
    width: 100%;
    height: 100%;
}
.one img, .three img{
    height: 500px;
}
.two img{
    height: 300px;
}

.select{
    display: flex;
    justify-content: center;
    flex-basis: 35%;
}
.select button{
    background-color: aliceblue;
    padding: 10px;
    color:darkslategrey;
    font-size: 1.5em;

}


/*footer*/
.contact-us{

    background-color: #28282B;
}
form{
    padding: 10px;
}
.contact-section{
    display: flex;
    justify-content: space-evenly;

}
.section-one,.section-two{
    align-items: center;
}

.section-one input{
    padding: 10px 25px;
}
.contact-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact-button button{
    padding: 10px;
    width: 30%;
    font-size: 1em;
}

label{
    color: #f9e6e6;
    text-shadow: 1px 1px black;
}
.required::before{
    content: "*";
    color: red;
}

input:invalid:hover{
    background-color: lightcoral;
    border: 2px solid rgba(245, 46, 46, 0.829);
}
#Contact{
    color: #f9e6e6;
}

/*Footer*/
.footer{
    display: flex;
    color: #f9e6e6;
    background-color: #28282B;
    border-top: 1px solid white ;
}
.fa-brands{
    color: #f9e6e6;
    padding: 10px;
}
.icons{
    margin-left: auto;
}
.icons ul li{
    list-style: none;
    display: inline;
}








